dataset/
dataset_raw/
*.zip

model/
*.pth
*.pt
*.h5

__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl

.ipynb_checkpoints/

venv/
env/
.recycle-env/
recycle-env/
.idea/
.vscode/

.DS_Store
Thumbs.db

*.log
*.tmp

build/
dist/
*.egg-info/
